@use '../../../theme/variables.scss' as *;

main{
  text-align: center;
  margin-top: 5rem;

  h3{
    width: 40rem;
    margin: 0 auto 2rem auto;
    font-weight: 200;

    color: $gray-light-400;
  }

  p{
    margin-top: 1rem;
    color: $gray-light-400;
  }
}

.infos{
  display: flex;
  align-items: center;
  gap: 1rem;

 justify-content: center;
 font-size: 2rem;
 margin-bottom: 1rem;

 .icons{
  display: flex;
  justify-content: end;
 }
}

.social-media{
  display: flex;
  align-items: center;
  gap: 1rem;

  justify-content: center;
  margin-top: 1rem;

  padding-bottom: 1rem;
}

@media screen and (max-width: 1300px){
  main{
    h3{
      width: 85%;
    }
  }

  .infos{
    display: flex;
    align-items: center !important;
    gap: 1rem;

   justify-content: center;
   font-size: 1.3rem;
  }
}
