<main>
  <h3>O que vem a seguir? Sinta-se à vontade para entrar em contato comigo se estiver procurando um desenvolvedor, tiver alguma dúvida ou simplesmente quiser se conectar.</h3>

  <div class="infos">
    <lucide-icon name="mail" class="icons"></lucide-icon>
    <span>mateusbyakuya3&#64;gmail.com</span>
  </div>

  <div class="infos">
    <lucide-icon name="phone" class="icons"></lucide-icon>
    <span>88 9611-4496</span>
  </div>

  <p>Você também pode me encontrar nessas plataformas!</p>

  <div class="social-media">
    <a href=""> <lucide-icon name="github"></lucide-icon> </a>
    <a href=""> <lucide-icon name="instagram"></lucide-icon> </a>
    <a href=""> <lucide-icon name="phone"></lucide-icon> </a>
  </div>
</main>
