@use '../../../theme/variables.scss' as *;

main{
  text-align: center;
  margin-top: 4rem;

  background-color: $gray-dark-50;

  h3{
    width: 40rem;
    margin: 0 auto 2rem auto;
    font-weight: 200;
    padding-top: 4rem;

    color: $gray-light-400;
  }

  p{
    margin-top: 1rem;
    color: $gray-light-400;
  }

  .contact{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    position: relative;
    top: 2rem;
    width: 12rem;
    padding: 0.5rem 2rem;
    border-radius: 18px;
    font-weight: 300;

    background-color: $gray-dark-200;
  }
}

.infos{
  display: flex;
  align-items: center;
  gap: 1rem;

 justify-content: center;
 font-size: 2rem;
 margin-bottom: 1rem;

 .icons{
  display: flex;
  justify-content: end;
 }
}

.social-media{
  display: flex;
  align-items: center;
  gap: 1rem;

  justify-content: center;
  margin-top: 1rem;

  padding-bottom: 1rem;
}

@media screen and (max-width: 1300px){
  main{
    h3{
      width: 85%;
    }
  }

  .infos{
    display: flex;
    align-items: center !important;
    gap: 1rem;

   justify-content: center;
   font-size: 1.3rem;
  }

  p{
    width: 100%;
  }
}
