@use '../../../theme/variables.scss' as *;

main{
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 80%;
  margin: 1.2rem auto 0;
}

.navigation-container{
  nav{
    display: flex;
    gap: 1rem;
  }

  a{
    color: $gray-light-default;
    text-decoration: none;
    transition: 0.4s;
    font-weight: lighter;

    &:hover{
      color: $emerald-500;
    }
  }
}
