<main>
  <div class="logo">
    <img src="../LOGO-MATHEUS.png" alt="" width="70">
  </div>

  <div class="navigation-container">
    <nav class="nav-bar-desktop">
      <a routerLink="" fragment="about-header">Sobre</a>
      <a routerLink="" fragment="work">Trabalho</a>
      <a routerLink="" fragment="skills">Tecnologias</a>
      <a routerLink="" fragment="contacts">Contatos</a>
    </nav>
  </div>
  <lucide-icon name="menu" id="menu-burguer" size="35" (click)="openMenu()"></lucide-icon>


  <div class="modal" [class.active]="isMenuOpen">
    <div class="modal-content">
      <button class="close-btn" (click)="closeMenu()">X</button>
      <nav>
        <div class="logo">
          <img src="../LOGO-MATHEUS.png" alt="" width="70">
        </div>
        <a routerLink="" fragment="about-header" id="first-a" (click)="closeMenu()">Sobre</a>
        <a routerLink="" fragment="work" (click)="closeMenu()">Trabalho</a>
        <a routerLink="" fragment="skills" (click)="closeMenu()">Tecnologias</a>
        <a routerLink="" fragment="contacts" (click)="closeMenu()">Contatos</a>
      </nav>
    </div>
  </div>
</main>
