<main>
  <div class="img-container">
    <img src="../projeto-1.jpg" alt="">
  </div>

  <div class="infos">
    <h2>Projeto de cadastro de clientes e pedidos</h2>

    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec urna ac tellus volutpat viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.</span>

    <div class="tech">
      <span>NEXT.JS</span>
      <span>TypeScript</span>
      <span>PostgreSQL</span>
    </div>
  </div>
</main>
