<main>
  <div class="informs">
    <h1>Olá, eu sou o Matheus 👋</h1>
    <div class="description">
      <span>
        I'm a full stack developer (React.js & Node.js) with a focus on creating (and occasionally designing) exceptional digital experiences that are fast, accessible, visually appealing, and responsive. Even though I have been creating web applications for over 7 years, I still love it as if it was something new.
      </span>
    </div>

    <div class="icons">
      <lucide-icon name="map-pin" color="white"></lucide-icon>
      Aurora - CE, Brasil
    </div>

    <div class="icons">
      <lucide-icon name="check" color="green"></lucide-icon>
      Disponível para novos projetos
    </div>

    <div class="social-media">
      <a href=""> <lucide-icon name="github"></lucide-icon> </a>
      <a href=""> <lucide-icon name="instagram"></lucide-icon> </a>
      <a href=""> <lucide-icon name="phone"></lucide-icon> </a>
    </div>
  </div>

  <img src="../avatar.jpg" alt="" >
</main>
