<main>
  <div class="informs">
    <h1>Olá, eu sou o Matheus 👋</h1>
    <div class="description">
      <span>
        Olá! Sou um desenvolvedor fullstack apaixonado por tecnologia e por
        criar experiências digitais incríveis. Meu foco está em transformar
        ideias em produtos funcionais e visualmente atraentes, sempre
        priorizando a experiência do usuário e a qualidade do código.
      </span>
    </div>

    <div class="icons">
      <lucide-icon name="map-pin" color="white"></lucide-icon>
      Aurora - CE, Brasil
    </div>

    <div class="icons">
      <lucide-icon name="check" color="green"></lucide-icon>
      Disponível para novos projetos
    </div>

    <div class="social-media">
      <a href="https://github.com/Matheussmaced" target="_blank"> <lucide-icon name="github"></lucide-icon> </a>
      <a href="https://www.instagram.com/mateusmaced_/" target="_blank"> <lucide-icon name="instagram"></lucide-icon> </a>
      <a href="https://wa.me/558896114496" target="_blank"> <lucide-icon name="phone"></lucide-icon> </a>
    </div>
  </div>

  <img src="../avatar.jpg" alt="" />
</main>
