<main>
  <app-project
  image="../projeto-1.jpg"
  title="SISTEMA DE CADASTRO DE CLIENTES E PEDIDOS"
  description="Este programa foi desenvolvido para a empresa Kel Print com o objetivo de gerenciar cadastros de clientes e seus pedidos. Ele permite criar, editar, e excluir clientes e pedidos de forma eficiente. Além disso, é possível gerar e imprimir uma folha de produção contendo os detalhes dos pedidos, bem como uma folha final com o carimbo da empresa, simulando uma nota fiscal."
  [technologies]="['Next.JS', 'Styled Components', 'TypeScript', 'Java', 'Spring Boot', 'PostgreSQL', 'Docker']"

  ></app-project>

  <app-project
  reverse="reverse"
  imgReverse="img-reverse"
  image="../projeto-2.JPG"
  title="SISTEMA PARA GARÇON E CONTROLE FINANCEIRO"
  description="Este sistema foi projetado para a FT Pizzaria e facilita o fluxo de trabalho dos garçons ao permitir que os pedidos sejam registrados diretamente na mesa. Os pedidos são enviados ao caixa, que tem acesso aos valores e ao total da mesa. O sistema também inclui funcionalidades de controle de estoque e financeiro, permitindo a adição de transações e o registro automático de pedidos finalizados diretamente no financeiro. Adicionalmente, o garçom tem acesso ao cardápio completo por meio do sistema."
  [technologies]="['Angular 17', 'SCSS', 'TypeScript', 'Node.js', 'Nest.js', 'SQLite', 'Docker']"
  ></app-project>

  <app-project
  image="../projeto-3.JPG"
  title="SISTEMA DE CADASTRO DE GADO E PESQUISA"
  description="Este sistema foi criado para o gerenciamento de registros e edições de animais (gado). Ele envia notificações por e-mail para lembrar sobre o registro oficial dos animais no site do governo. Uma funcionalidade adicional é a geração de uma árvore genealógica dos animais, permitindo visualizar todas as relações de parentesco do gado."
  [technologies]="['Angular 17', 'SCSS', 'TypeScript', 'Java', 'Spring Boot', 'PostgreSQL', 'Docker']"
  ></app-project>
</main>
